.recipe{
  font-family: 'Abril Fatface', cursive;
}


@keyframes fadeIn { from { opacity: 0; } to { opacit: 0.8; } }

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.1s;
}
.container {
display: flex;
justify-content: center;
/* justify-content: space-around; */

}
.closebtn {
  color: red;
  padding-right: 15px;

}
