.recipe{
  font-family: 'Abril Fatface', cursive;
}

h1{
  font-family: 'Abril Fatface', cursive;
  
}

.container {
display: flex;
justify-content: center;
/* justify-content: space-around; *
/*  */
/* float: right; */
}
.closebtn {
  color: red;
  padding-right: 15px;

}
