.wrapper1 {
font-family: 'Abril Fatface', cursive;
text-align: center;
font-size: 40px;

}

.what{
  border-bottom: 2px solid black;
}
.container{
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  display: flex;
  justify-content: space-between;

}

label{
    font-size: 50px;

}
.ingred{
  list-style: disc;
  list-style-position: inside;
  font-size: 20px;
  /* border-bottom: 2px solid black; */
}

.bo{
  border-bottom: 2px solid black;

}
h2{
  text-decoration: underline;
}
