button{
  text-align: center;
  padding-left: 100px;
}
.comments-show{
  text-align: center;

  /* padding-right: 45px; */
}
.containerComment{
  display: flex;
  justify-content: center;
}
.remove{
justify-content: space-between;


}

.specificComment{
  /* list-style: */
  font-size: 20px;
  padding-right: 10px;
}

.person{
  text-align: center;
  padding-right: 25px;
}
