.container4{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
  /* font-family: 'Abril Fatface', cursive; */
}

h1{
  font-size: 45px;
}
.label3{
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
  text-align: center;

}
.search {
  width: 150px;
  height: 30px;

}



.clabel{
  color: #8DB8E8;
  padding-right: 220px;
  font-size: 20px;

}
.heres{
  color: #8DB8E8;
  display: inline;
  font-size: 20px;
  padding-right: 10px;
}

.showit{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  /* padding-right: 100px; */


p{
  font-family: 'Abril Fatface', cursive;
}


}
.form{
  text-align: center;

}
.Details-button{

}
footer{
  text-align: center;
  padding-left: 43px;
}
.boya{
  text-align: center;
  /* border-bottom: 2px solid black;
  padding-bottom: 5px; */
  /* border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px; */


}
.here{
  font-size: 30px;
}
.Comment-Box{
  height: 100px;
  width: 400px;
}
.yo{
  list-style: decimal;
  list-style-position: inside;
  font-size: 40px;
  text-align: center;
  /* padding-right: 30px; */
  /* text-decoration: underline; */
}
.directy{
  /* width: 500px; */
  word-wrap: break-word;
  text-align: center;
  font-size: 20px;
}

.ingred{
  /* list-style: disc;
  list-style-position: inside; */
  font-size: 20px;
  /* border-bottom: 2px solid black; */
}
